<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style>
        body{
            font-family: 'Lato', sans-serif !important;
        }
        .bd-top{
            border-top: 1px solid black;
        }
        .bd-bot{
            border-bottom: 1px solid black;
        }
        .bd-right{
            border-right: 1px solid black;
        }
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
        .pd-t{
            padding-top: 400px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Iquvia PDF</title>
</head>
<body>
    <h1 class="text-right mr-5">Original</h1>
    <div class="container pt-1">
        <div class="row">
            <div class="col-8 bd-top bd-bot bd-right"></div>
            <div class="col-5 bd-top bd-bot">
                <img class="mb-4" src="https://www.trzcacak.rs/myfile/full/434-4343424_tuesday-september-25-ims-iqvia.png" alt="images" style="width: 80%">
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-6">
                <div class="ml-3">
                    <b>Accounting Department</b><br>
                    <b>Novo Nordisk Pharma (Thailand) Ltd</b><br>
                    <b>Head Office</b><br>
                    <b>98 Sathorn Square Office Tower</b><br>
                    <b>21st Floor, Unit 2101-2105</b><br>
                    <b>North Sathorn Road, Silom, Bangrak</b><br>
                    <b>BANGKOK 10500</b>
                </div>
            </div>
            <div class="col-7">
                <div class="row bg-light">
                    <div class="col-12">
                        <h2>RECEIPT / TAX INVOICE</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <b>TAX INVOICE NO.</b><br>
                        <b>DATE</b><br>
                        <b>CUSTOMER NO.</b><br>
                        <b>RECEIVED FROM INVOICE NO.</b><br>
                        <b>CUSTOMER TAX ID NO.</b><br>
                        <b>YOUR PO NO.</b>
                    </div>
                    <div class="col-5 text-right">
                        <div class="ml-5">
                            <b>0366/2019</b><br>
                            <b>25 Jul 2019</b><br>
                            <b>16622</b><br>
                            <b>4094011429</b><br>
                            <b>0105526027545</b><br>
                            <b>4400157444</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-4">
                <div class="row bg-light bd-bot">
                    <div class="col-12">
                        <b>CODE</b>
                    </div>
                </div>
                <br>
                <p>TH_SA</p>
            </div>
            <div class="col-7 bd-right">
                <div class="row bg-light bd-bot bd-right">
                    <div class="col-12">
                        <b>DESCRIPTION</b>
                    </div>
                </div>
                <br>
                <p>THAILAND SALES ANALYSER</p>
                <p>  - Selected Market: A10_Insulin Market</p>
                <p>JANUARY 2019</p>
                <br>
                <b>SUBTOTAL</b>
                <div class="row pt-2">
                    <div class="col-4">
                        <b>VAT-RATE</b>
                        <p class="pl-2">7.00 %</p>
                    </div>
                    <div class="col-8">
                        <b>AMOUNT</b>
                        <p>94,560.76</p>
                    </div>
                </div>
                <br>
                <b>TOTAL</b>
            </div>
            <div class="col-2 text-right">
                <div class="row bg-light bd-bot">
                    <div class="col-12">
                        <b class="pl-5">AMOUNT</b>
                    </div>
                </div>
                <div>
                    <b>THB</b>
                    <p>94,560.76</p>
                    <br><br><br><br>
                    <div class="pt-3">
                        <b>94,560.76</b>
                    </div>
                    <br>
                    <p>6,619.25</p>
                    <b>101,180.01</b>
                </div>
            </div>
        </div>
        <div class="text-center pd-t">
            <h2>IQVIA Inc. - Thailand</h2>
            <p>Head Office: 23nd floor,Room No 1-5, Silom Complex Building, 191 Silom Road, Silom Bangrak, Bangkok 10500 Thailand</p>
            <p>Tel: (66) 2 686 2300 Fax: (66) 2 686 2490 www.iqvia.com</p>
            <p>TAX-ID-No. 0100528001654</p>
        </div>
        <div class="footer bd-top">
        </div>
    </div>

</body>
</html>